* {
    background-color: #00d4d4e0;
}

.navbar {
    overflow: hidden;
}

.navbar li {
    list-style: none;
    float: left;
    padding: 10px;
}

.navbar a {
    display: block;
    background-color: #0ddb85c4;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    transition: width 2s, 4s;
}

.navbar a:hover {
    background-color: #fff222;
    color: #000;
}

.navbar .item {
    background-color: #9684a8
}

@media (max-width: 360px) {
    * {
        background-color: #07dd60
    }
}